@import "../vendor/normalize.css";
@import "./variables.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto",sans-serif;
}

.header{
  background-color: var(--main-background-color);
  min-height: 100px;
}

.main {
  flex-grow: 1; /* Этот элемент будет занимать оставшееся пространство внутри контейнера body */
}
.footer {
  background-color: var(--main-background-color);
  min-height: 50px;
}